<p id="notice"><%= notice %></p>
<p>
  <b>SSN:</b>
  <%= @employee.ssn_id %>
</p>
<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Married:</b>
  <%= @employee.status %>
</p>
<p>
  <b>Date of Birth:</b>
  <%= @employee.dob %>
</p>
<p>
  <b>Salary:</b>
  <%= @employee.salary %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
